<div class="container py-4">
  <span style="text-align: center"><h1>Interviews</h1></span>
  <div style="background-color: white">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Interview Stage</th>
            <th scope="col">Edit/Reject</th>
            <th scope="col">Feedback</th>
          </tr>
        </thead>
        <tbody>
          <% @interviews.each do |interview| %>
            <tr>
              <td><%= interview.job_application.user.fullname %></td>
              <td><%=  interview.stage %></td>
              <td><%= link_to "Edit", "#"%></td>
              <td><%= link_to "Leave Feedback", job_job_application_feedbacks_path(@job, interview.job_application), method: :post  %></td>

            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
