    document.querySelector(".applicant_show").innerHTML = "";
    document.querySelector(".applicant_show").insertAdjacentHTML("beforeend", `
  <% @job_applications.each do |app| %>
    <ul>
        <li><%= app.user.name %></li>
        <li>Test</li>
    </ul>
    <%end%>
`);

