<!--Banner-->

<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)";>
  <div class="container">
    <h1>Welcome to Quickfeedr, become a <span id="typed"></span></h1>
    <p>A service for employees and recruiters.</p>
    <!-- <a class="btn btn-success" href="#">Go to listings</a> -->
    <%= link_to 'See listings', jobs_path, :class => "btn btn-primary"%>
  </div>
</div>

<!--Body-->










<!--Footer-->



