<!--Banner-->

<div class="banner">
  <H1>Find your dream job today!</H1>
    <h1 class="ml4">
  <span class="letters letters-1">Ready</span>
  <span class="letters letters-2">Set</span>
  <span class="letters letters-3">Go!</span>
</h1>
    <%= link_to 'See listings', jobs_path, :class => "btn btn-success"%>
</div>
  <div class="container">
  </div>

<!--Body-->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
<!--Footer-->



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Welcome to Quickfeedr - jobs made easy!</h1>
    <p>A service for employees and recruiters.</p>
    <!-- <a class="btn btn-success" href="#">Go to listings</a> -->
  </div>
</div>
