<h1> My Profile </h1>
  <button> <%= link_to "Edit profile", "#"  %> </button>

  <h2>Job applications</h2>
  <div class="d-flex justify-content-around align-items-center ">
  <% @job_applications.each do |application|  %>
  <div class = "example-1 card-profile">
    <ul>
        <li><%= application.job.title %></li>
        <li><%= application.job.description %></li>
        <li><%= application.job.salary%></li>
      </ul>
</div>
  <% end %>
  </div>
