
  <h1> My Profile </h1>
  <button> <%= link_to "Edit profile", "#"  %> </button>

  <h2>Job applications</h2>
  <% @job_applications.each do |application|  %>
  <div>
  <div class = "example-1 card">
      <%= application.job.title %>
      <%= application.job.description %>
      <%= application.job.salary%>
    </div>
</div>
  <% end %>

<br>

<div>
  <h2> Saved jobs</h2>
</div>
