.job-card {
  display: flex;

  background-color: #fff !important;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 16px;
  color: gray;
}

.job-title {
  display: flex;
  justify-content:space-between;
  text-align: right;
  width: 100%;
}

.job-card:hover {
   box-shadow: 2px 2px rgb(208,208,208);

}

.job-location {
  border: 1px solid #ececec;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 16px;
  background-color: #fff !important;

}

.job-container {
  display: flex;
  justify-content: space-between;

}
.job-link {
  color: grey;
  text-decoration: none;
  width: 100%;
}
.job-link:hover {
  text-decoration: none;
  color: black;
}
.card-image {

  margin-right: 25px;
}
